/*Google homepage for the odin project made by Bhupinder Singh*/

header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    text-decoration: none;
    
}

/* for header links*/
.headerOptions{ 
    color:inherit;
    text-decoration:inherit;
}

footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    text-decoration:none;
    padding-top:100px;
    /*background-color: greenyellow;*/
}

#info>a,#terms>a{
    color:inherit;
    text-decoration: none;
}

#main{
    padding-top:100px;
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
    /*background-color: yellow;*/
}

#main>img{
    width:300px;
}
.material-icons{
    text-decoration:none;
}

#git{
    width:40px;
    height:auto;
}